
# /Kwarqs2009/TestRobot/

# /Kwarqs2009/tags/boston-regional-2009-03-06/

# /Kwarqs2009/tags/webface-4-21-2009/

# /Kwarqs2009/trunk/

# /Kwarqs2012/FieldWidget/nbproject/
/Kwarqs2012/FieldWidget/nbproject/private

# /Kwarqs2012/NetworkTablesTest/

# /Kwarqs2012/RobotWidget/
/Kwarqs2012/RobotWidget/build

# /Kwarqs2012/VisionSystem/

# /Kwarqs2012/VisionSystem/build/

# /Kwarqs2012/VisionSystem/build/classes/

# /Kwarqs2012/VisionSystem/build/classes/edu/

# /Kwarqs2012/VisionSystem/build/classes/edu/wpi/

# /Kwarqs2012/VisionSystem/build/classes/edu/wpi/first/

# /Kwarqs2012/VisionSystem/build/classes/edu/wpi/first/smartdashboard/

# /Kwarqs2012/VisionSystem/build/classes/edu/wpi/first/smartdashboard/camera/

# /Kwarqs2012/VisionSystem/build/empty/

# /Kwarqs2012/VisionSystem/build/generated-sources/

# /Kwarqs2012/VisionSystem/build/generated-sources/ap-source-output/

# /Kwarqs2012/VisionSystem/dist/

# /Kwarqs2012/VisionSystem/nbproject/

# /Kwarqs2012/VisionSystem/nbproject/private/

# /Kwarqs2012/VisionSystem/src/

# /Kwarqs2012/VisionSystem/src/edu/

# /Kwarqs2012/VisionSystem/src/edu/wpi/

# /Kwarqs2012/VisionSystem/src/edu/wpi/first/

# /Kwarqs2012/VisionSystemTest/

# /Kwarqs2012/source/components/shooter/
